.header {
  height: 250px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/029/592/352/small_2x/landscape-with-country-road-empty-asphalt-road-on-sunset-background-multicolor-vibrant-outdoors-horizontal-image-generative-ai-illustration-free-photo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 6rem;
  color: white;
}
.logo {
  font-size: 50px;
}
.title {
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    padding-left: 0;
  }
}
