.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  padding-top: 4rem;
  background-color: var(--secondary-color);
}
.main input {
  width: 70%;
  padding: 0.8rem;
  background-color: var(--quaternary-color);
  border-color: var(--secondary-color);
  border-top: var(--secondary-color);
  border-left: var(--secondary-color);
  outline: none;
}
.main button {
  width: 70%;
  background-color: var(--primary-color);
  height: 40px;
  font-size: large;
  font-weight: bolder;
}

.error {
  color: brown;
  margin: 0;
  align-items: center;
  font-size: 17px;
  font-weight: bolder;
}
