.main {
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: var(--quaternary-color);
  box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.75);
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.background {
  background-color: var(--secondary-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.itemInfo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;
}
.itemName {
  display: flex;
  gap: 0.3rem;
}

.itemLine {
  font-size: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.dateText {
  font-size: 15px;
}

.main button {
  width: 150px;
  align-self: flex-end;
}
.error {
  color: brown;
  font-size: 17px;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    height: auto;
    padding: 1.5rem;
  }

  .itemInfo {
    flex-direction: column;
    text-align: center;
  }

  .itemLine {
    width: 100%;
    text-align: center;
  }

  .main button {
    width: 45%;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
    height: auto;
  }
  .main button {
    width: 45%;
    height: 30px;
  }
}
