.main {
  height: 100px;
  display: flex;
  padding-left: 6rem;
  padding-right: 2rem;
  background-color: rgb(216, 212, 212);
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.2rem;
  box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.75);
}

.itemInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.itemName {
  display: flex;
  gap: 0.3rem;
}

.itemLine {
  display: flex;
  font-size: 20px;
}

.main button {
  width: 150px;
  margin-left: auto;
}

.error {
  color: brown;
}

@media (max-width: 768px) {
  .main {
    height: auto;
  }

  .itemInfo {
    flex-direction: column;

    /* gap: 1rem; */
    text-align: center;
  }

  .itemLine {
    gap: 0.5rem;
  }

  .main button {
    width: 150px; /* Mygtukas užima visą plotį mobilioje versijoje */
  }
}
@media (max-width: 400px) {
  .main {
    flex-direction: column;
    gap: 1.5rem;

    padding: 1rem;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .itemLine {
    gap: 0.3rem;
  }
}
