.main {
  height: auto;
  display: flex;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  background-color: var(--quaternary-color);
  margin-right: 2rem;
  margin-left: 2rem;
  flex-wrap: wrap;
  box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.75);
}
.background {
  background-color: var(--secondary-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* text-align: center; */
}

.itemInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemName {
  display: flex;
  gap: 0.3rem;
}

.itemLine {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 20px;
  padding-right: 2rem;
  padding-left: 2rem;
}
.dateText {
  font-size: 15px;
}

.main button {
  width: 150px;
  margin-left: auto;
}

.error {
  color: brown;
  font-size: 17px;
}

@media (max-width: 768px) {
  .main {
    height: auto;
    padding: 1.5rem;
  }

  .itemInfo {
    flex-direction: column;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .main button {
    width: 150px;
    margin-top: 0.5rem;
  }
}
@media (max-width: 400px) {
  .main {
    flex-direction: column;
    height: auto;
  }
}
