* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(126, 79, 69);
  --secondary-color: rgb(210, 188, 183);
  --tertiary-color: rgb(227, 207, 202);
  --quaternary-color: rgb(216, 212, 212);
}
